


.msgs{
    display: block;
}
ul.active{
    display: none;
}
li{
    height:3.375rem;
    padding:0.5rem 0.5rem!important;
}
.title{
    width:70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.msg_top{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1.25rem;
    line-height: 1.25rem;
    font-size: 0.75rem;
    font-weight: 550;
}
.msg_top .msg_time{
    font-size: 0.5rem;
    color: #666;
    font-weight: 500;
}
.msg_content{
    width:100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 0.65rem;
    color:#666;
    height:1.25rem;
}

/* 无消息时 */
.no_msg{
    width:100%;
    height:100%;
}
.no_msg.active{
    display: none;
}
.no_msg img{
    width:100%;
    height:100%;
}