.mui-bar{
    background-color: #fff;
}

.main{
    margin:0.5rem 0.5rem;
    border-radius: 5px;
    background-color: #fff;
}
/* .setads .main .con{
    margin-bottom: 0;
}
.setads .mui-content{
    background-color: #f0f0f0;
}
.setads .main .text{
    padding:0 1.375rem;
}
.setads .main .text .h1{
    margin-top: 1rem;
    /* height:1rem; */
/* }
.setads .main .text .name{
    color:#333;
    font-weight: 600;
    margin-right: 0.5rem;
    font-size: 0.625rem;
}
.setads .main .text .ads-p{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2px;
    line-height: 0.75rem;
    height:1.5rem;
} */ 

.btn.btn-public .btns{
    background-color:#f1341c;
    color:#fff;
    margin-top: 0.5rem;
}
.addInfo{
    margin:0 1.4rem;
    border-bottom: 1px solid #f0f0f0;
}
li:last-child{
    margin-bottom: 3.5rem;
}
/* .addInfo .addInfo_top{
    height:0.75rem;
} */
.addInfo .addInfo_top .accepter{
    font-size: 0.8rem;
    color:#333;
}
.addInfo .addInfo_top .accepter_phone{
    font-size: 0.5rem;
    color:#b0b0b0;
}
.addInfo .addInfo_detail p span{
    color:#888;
    font-size: 0.5rem;
    background-color: #f0f0f0;
    line-height: 0.5rem;
    padding: 5px 8px;
    margin-right: 0.5rem;
}
.addInfo .addInfo_detail p{
    color:#333;
    font-size: 0.65rem;
    line-height: 1.1rem;
    font-weight: 500;
}
.addInfo_edit{
    height:1.5rem;
}
.addInfo_edit .addInfo_editChoose{
    float: left;
}
.addInfo_edit .addInfo_editChoose img.active{
    float: left;
    width:0.6rem;
    height:0.6rem;
    margin-top: 0.5rem;
    display: none;
}
.addInfo_edit .addInfo_editChoose img{
    float: left;
    width:0.6rem;
    height:0.6rem;
    margin-top: 0.5rem;
    display: block;
}
.addInfo_edit .addInfo_editChoose span{
    color:#333;
    font-size: 0.65rem;
    margin-left: 0.5rem;
}
.addInfo_edit .addInfo_editdetail{
    float: right;
    font-size: 0.5rem;
    color:#333;
    height:1.5rem;
    line-height: 1.5rem;
}
.addInfo_edit .addInfo_editdetail .edit img{
   width:0.6rem;
   height:0.6rem;
   margin-right: 0.3rem;
}
.addInfo_edit .addInfo_editdetail .delete img{
    width:0.6rem;
    height:0.6rem;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
 }

 .setads .btn{
    position:fixed;
    bottom:0rem;
    left:0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    height:3rem;
 }