<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>修改登陆密码</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="css/mui.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <script src="js/initsize.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/vue-resource.js"></script>
    </head>
    <body class="setpsw">
        <header class="mui-bar mui-bar-nav setpswHeader" data-header>
            <a class="mui-action-back c-icon-back mui-pull-left"></a>
            <h1 class="mui-title">修改登陆密码</h1>
        </header>
        <div class="mui-content" data-content>
            <ul class="main">
                <li class="lst">
                    <span class="title">手机号：</span>
                    <div class="usertel">
                        {{usertel}}
                    </div>
                </li>
                <li class="lst">
                    <span class="title">验证码：</span>
                    <input type="number" v-model="code" name="code" id="code" value="" />
                    <a class="getcode" @tap="ongetcode">获取验证码</a>
                </li>
                <li class="lst">
                    <span class="title">密码：</span>
                    <input type="password" v-model="oldpsw" name="psw" id="psw" value="" />
                </li>
                <li class="lst">
                    <span class="title">确认密码：</span>
                    <input type="password" v-model="newpsw" name="psws" id="psws" value="" />
                </li>
                <p class="p1">必须是6位以上字母或者数字，不能是连续的数字</p>
            </ul>
            <div class="btn btn-public">
                <div class="btns" @tap="exit">提交</div>
            </div>
        </div>
        <script src="js/mui.min.js"></script>
        <script src="js/common2.0.0.js"></script>
        <script src="js/jquery2.1.0.min.js"></script>
        <script src="js/md5.js"></script>
        <script src="js/post_sign.js"></script>
        <script src="js/setpsw.js"></script>
    </body>
</html>